
.t1{
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.t2
{
    font-size: xx-large;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.t3
{
    color: rgb(255, 250, 250);
    font-size: xx-large;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.t4{
    color: rgb(255, 250, 250);
}

body{
   ba
}